link(rel="stylesheet", href="/css/email.css", data-inline)
p Hello,
p you have been accepted from <strong>#{client.name}</strong> for project <strong>#{task.title}</strong>,
p
    | Visit&nbsp;
    a(href=frontendUrl + '/tasks/' + task.id) CryptoTask
    | &nbsp;to start working.
p Thank you for being part of the CryptoTask family.
img(src='/images/logo.png')
