= 'Hello,\n\n'
= `you have been accepted from "${client.name}" for project "${task.title}",\n\n`
= `Visit ${frontendUrl}/tasks/${task.id} to start working.\n\n`
= 'Thank you for being part of the CryptoTask family.'
