link(rel="stylesheet", href="/css/email.css", data-inline)
p Hello,
p thanks for joining CryptoTask family,
p
    | Please&nbsp;
    a(href=frontendUrl + '/confirm-email/' + hash) click here
    | &nbsp;to confirm your account.
p We wish you a pleasant stay.
img(src='/images/logo.png')
