link(rel="stylesheet", href="/css/email.css", data-inline)
p Hello,
p you requested password reset,
p
    | Please&nbsp;
    a(href=frontendUrl + '/reset-password/' + resetToken) click here
    | &nbsp;to reset your password.
p We wish you a pleasant stay.
img(src='/images/logo.png')
