= 'Hello,\n\n'
= `you have new application for task "${task.title}" from "${freelancer.name}",\n\n`
= `Visit ${frontendUrl}/my-tasks/${task.id} to review application.\n\n`
= 'Thank you for being part of the CryptoTask family.'
